* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.question-view {
  display: none;
  width: 100%;
}

.hard-view {
  display: none;
  width: 100%;
}

.open {
  display: inline-block;
}

.close {
  display: none;
}

.choice {
  display: flex;
}
