* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #000000;
}

.question-view,
.summary-view {
  display: none;
  width: 100%;
}

.hard-view {
  display: none;
  width: 100%;
}

.open {
  display: inline-block;
}

.close {
  display: none;
}

.correct {
  border: none;
  background-color: #2ecc71;
}

.incorrect {
  border: none;
  background-color: #ba000d;
}

.choice {
  display: flex;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 1em;
}

.logo {
  display: block;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: black;
  color: white;
  border: solid 1px orange;
}

.easy-btn {
  margin-bottom: 15px;
}

.center-text {
  text-align: center;
  margin-bottom: 30px;
  color: whitesmoke;
}

.score-el {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
}

.question {
  text-align: center;
  margin-bottom: 20px;
}

.answerChoices {
  margin-top: 40px;
}

.choice {
  border: solid 2px orange;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
}

.choice-num {
  margin-right: 15px;
}

.non-bold {
  font-weight: normal;
  font-style: italic;
}

.final-score {
  text-align: center;
}

.results {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .btn:hover {
    background-color: orange;
    color: black;
  }
}
